/*.py
!/run.py
/*.json
cookies.json
export_cookies/cookies.json
__pycache__
/.vscode
.cache
/*.txt
/*.mp4
/*.html

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
/*.png
/*.jpg
/*.mp4
/*.gif
